body {
  font-family: 'Open Sans', sans-serif !important;
}
.text-slanted {
  font-family: 'Courgette', cursive;
}
.text-orange {
  color: #f15025;
}
.letter-spacing {
  letter-spacing: 0.5rem;
}
.nav-active {
  font-weight: bold !important;
  color: #6b6b6b !important;
}
.header-hero,
.default-hero {
  min-height: calc(100vh - 82px);
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)),
    url('./image/plates-with-bagel-with-asparagus-and-boiled-egg-and-toasts-4013765.jpg')
      center/cover no-repeat;
}
.default-hero {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url('./image/close-up-of-salad-on-table-326281.jpg') center/cover no-repeat;
}
